.homepage-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-left: 55px;
  margin-right: 55px;
}

#homepage-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 300px !important;
}

.filter-dropdown {
  width: 300px !important;
  height: 38px;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 30px;
  justify-content: space-between;
  align-content: start;
  margin-top: 30px;
}

.country-card {
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.country-name {
  margin-bottom: 20px;
}

.card-info {
  margin: 0;
}

html[data-theme="dark"] #country-card,
html[data-theme="dark"] .filter-dropdown {
  background-color: #2b3a49;
  color: white;
}

html[data-theme="dark"] .search-input {
  > span,
  input {
    background-color: #2b3a49;
    color: white;
  }
}

html[data-theme="dark"] input::placeholder {
  color: white;
}

@media (max-width: 750px) {
  .countries-container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px 20px;
    margin-top: 30px;
  }

  #homepage-inputs {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
