.info-fields {
  background-color: transparent !important;
  border: none !important;
}

.country-name-title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.border-countries {
  padding-left: 16px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;

  > div {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 0;
    color: black;
    border: 1px solid;
    padding: 3px;
    margin-top: 5px;
    border-radius: 7px;
    box-shadow: 0 0 10px -2px #bdb1b1;
  }
}

.list-group {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  color: white !important;
}

.container-info {
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.back-button {
  width: 90px;
  height: 25px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 40px;
  color: black !important;
  box-shadow: 0 0 10px -2px #bdb1b1;
}

.country-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

html[data-theme="dark"] .info-fields {
  color: white !important;
}

html[data-theme="dark"] .back-button {
  color: white !important;
  box-shadow: 0 0 7px -2px #bdb1b1;
}

html[data-theme="dark"] .borders {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 0;
  color: white;
  border: 1px solid;
  padding: 3px;
  margin-top: 5px;
  border-radius: 7px;
  box-shadow: 0 0 7px -2px #bdb1b1;
}

@media (max-width: 1050px) {
  .country-details {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
  }

  .info {
    margin-top: 25px;
    width: 70%;
  }
}

@media (max-width: 600px) {
  .info {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .list-group {
    display: flex !important;
    > div {
      padding-left: 0 !important;
    }
  }
}
